@import "../../styles/variables";

.container {
  //   padding: 0;
  position: relative;
  background-image: url("/bio.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 110%;
  background-position-x: 170%;
  background-position-y: 80%;
  background-color: #fffcff;
  @include fade-in-slow();
  @media (min-width: 600px) {
    height: 100vh;
    background-position-x: 15%;
    // background-position-y: 100%;
    background-size: 100%;
    background-image: url("/bio.jpeg");
  }
}
.bio {
  position: absolute;
  min-width: 50%;
  min-height: 50%;
  top: 10%;
  left: 36%;

  p {
    font-family: Open Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
      Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
      sans-serif;
    letter-spacing: 1px;
    line-height: 1.25;
    font-size: 1rem;
    @media (min-width: 600px) {
      font-size: 1.2rem;
    }
  }
  @media (min-width: 600px) {
    left: 48%;
  }
}
.details {
  @media (min-width: 600px) {
    width: 50%;
  }
}
.bgWrapper {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  z-index: -1;
}
.bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}
.main {
  height: 80vh;
  @media (min-width: 600px) {
    height: 100vh;
    padding: 0 0 100px 200px;
  }
}

.persianTitle {
  font-family: Noto Nastaliq Urdu, Lato, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  letter-spacing: 5px;
  line-height: 2.15;
  font-size: 2rem;
  margin: 30px 0;
  text-align: center;
  @media (min-width: 600px) {
    font-size: 4rem;
  }
}
.titleWrapper {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 25px;
  height: 95vh;
  @media (min-width: 600px) {
    position: absolute;
    bottom: 100px;
    left: 150px;
  }
}
.title {
  font-family: Open Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  letter-spacing: 1px;
  line-height: 1.15;
  font-size: 1rem;
  @media (min-width: 600px) {
    font-size: 1.2rem;
  }
  &:hover {
    cursor: pointer;
  }
}
